.card {
  background-color: $cardBackgroundColor;
  color: white;
  box-shadow: 2px 3px 2px $cardBackgroundShadowColor;
  height: 200px;
  .card-left{
    float: left;
    width: 100px;
    height: 100%;
    margin: auto;
    line-height: 200px;
    text-align: center;
  }
  .card-right{
    overflow: hidden;
    padding: 15px 0;
    .card-title{
      font-size: 20px;
      font-weight: bold;
      color: white;
      a {
        color: inherit;
      }
    }
    .card-desc{
      margin-top: 15px;
      font-size: 16px;
      padding: 15px 10px;
      margin-right: 15px;
      min-height: 60px;
      color: $cardBGContentColor;
      box-shadow: inset 0 0 10px $cardBackgroundShadowColor;
    }
    .card-label {
      margin: 10px 0;
    }
  }
  .font-icon {
    padding-right: 10px;
    font-size: 20px;
    &.active {
      color: $iconFontActive
    }
  }
}