.core-navBar {
  .right-align {
    line-height: 50px;
    .right-align-button {
      margin-left: 15px;
    }
  }
  i {
    padding-right: 5px;
  }
  .brand-link {
    color: white;
  }
}
.navbar-default {
  background-color: $navBarBgColor;
  border:none;
}
.navbar-nav {
  .nav-item {
    &.active {
      background-color: $navBarItemActiveBGColor;
      color: $navBarItemActiveColor;
      a {
        background-color: inherit;
        color: inherit;
      }
    }
    a {
      color: $navBarLink;
    }
  }
}
