.core-navBar {
  .right-align {
    line-height: 50px;
    .right-align-button {
      margin-left: 15px;
    }
  }
  i {
    padding-right: 5px;
  }
}
.navbar-default {
  background-color: $navBarBgColor;
  border:none;
}
.navbar-nav {
  .nav-item {
    &.active, &:hover {
      border-bottom: 2px solid green;
    }
  }
}
