.profile-card {
  text-align: center;
  background-color: $profileCardBG;
  padding: 10px;
  .profile-card-image {
    height: 40%;
  }
  .profile-card-desc {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}