
$cardBackgroundColor: #286090;
$cardBackgroundShadowColor: rgb(11,72,107);
$cardBGContentColor: rgb(121,189,154);
$navBarBgColor: rgb(11,72,107);
$navBarItemActiveBGColor: white;
$navBarItemActiveColor: black;
$iconFontActive: rgb(207,240,158);
$navBarLink: rgb(168,219,168);
$breadcrumbLink: rgb(11,72,107);
$profileCardBG: #ccc;
$borderBottomColor: #ccc;