@import "./variable";

.home {
  .container {
    margin: 20px auto;
  }
  .cards-bg {
    background-color: $cardsBGColor;
    padding: 10px 0;
    margin: 20px 0;
    .cards-row {
      margin-bottom: 20px;
      .card-panel-gutter-left {
        margin-left: 10px;
      }
      .card-panel-gutter-right {
        margin-right: 10px;
      }
      .cards-card {
        margin-bottom: 20px;
      }
    }
  }
  .cards-header {
    margin-left: -15px;
    line-height: 65px;
    h2 {
      margin: 15px 0;
      padding: 0;
      float:left;
      font-size: 25px;
    }
    span {
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .profiles-bg {
    padding: 10px 0;
    margin: 20px 0;
    background-color: $profilesBGColor;
    .profiles-item {
      text-align: center;
      padding: 20px;
      .profile-item-first, .profile-item-second, .profile-item-last {
        padding: 20px 0;
        background-color: gainsboro;
      }
      .profile-item-first {
        margin-left: -15px;
      }
      .profile-item-second {

      }
      .profile-item-last {
        margin-right: -15px;
      }
    }
  }
  .profiles-header {
    margin-left: -15px;
  }
}